.middleText {
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
    scroll-behavior: smooth;
}

#benimg{
     border-radius: 25px;
}
.carousel-inner{
    color: rgba(0, 84, 209, 0.53);
}
.fa {
    padding: 20px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.5;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #bd2f1d;
    color: white;
}
#Education_img{
    width :10%
}
#army_img{
    width :200px
}
#Volunteering_img{
    width :200px
}
